.MESSAGE__wrapper {
  background-color: rgba(241, 196, 15, 0.5);
  margin: 20px 70px 20px 0;
  padding: 15px;
  border-radius: 20px 20px 20px 5px;
  word-wrap: break-word;
}

.MESSAGE__wrapper.MESSAGE__written {
  background-color: rgba(52, 152, 219, 0.5);
  margin: 20px 0 20px 70px;
  border-radius: 20px 20px 5px 20px;
}

.MESSAGE__wrapper p {
  margin: 0;
}
